<div>
  <h1>Random Roulette</h1>
</div>
<div class="panel panel-info">
  <%= form_tag result_coba_path %>
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>?</th>
        <th colspan="2">Team</th>
        <th> Description </th>
      </tr>
      <% @result.each do |status, m1, m2|%>
        <%= hidden_field_tag "pair[#{@counter}][member1]", m1.id %>
        <%= hidden_field_tag "pair[#{@counter}][member2]", m2.id %>
          <% if status == "Pair"%>
            <tr class="success">
            <td ><%= status%></td>
          <td ><%= m1.name%></td>
          <td ><%= m2.name%></td>
          <td ><%= text_field_tag "pair[#{@counter}][details]" %> </td>
        </tr>
      <%else%>
        <tr class="danger">
        <%= hidden_field_tag "pair[#{@counter}][member1]", m1.id %>
        <%= hidden_field_tag "pair[#{@counter}][member2]", m1.id %>
          <td ><%= status%></td>
          <td colspan="2"><%= m1.name%></td>
          <td ><%= text_field_tag "pair[#{@counter}][details]" %> </td>
        </tr>
      <%end%>
      <%@counter = @counter+1%>
      <%end%>

    </table>
    <%= submit_tag %>
    <%= button_to "Roulette Again !", new_roulette_path %>
  </form>
  </div>


