<%- model_class = Pair -%>
<div class="page-header">
  <h1>Pairs [<%= @nama1+" "+@nama2 %>]</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:details) %></th>
    </tr>
  </thead>
  <tbody>
    <% @pairs.each do |pair| %>
      <tr>
        <td><%= pair.created_at %></td>
        <td><%= pair.details %></td>
      </tr>
    <% end %>
  </tbody>
</table>
