<%- model_class = Pair -%>
<div class="page-header">
  <h1>Pair Table</h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Pair</th>
      <% @member1.each do |m| %>
        <th class="warning"><%= m.name %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @member1.each do |m1|%>
    <%@y=0 %>
  <tr>
    <td class="success" >
      <%= m1.name%>
    </td>
    <% @member2.each do |m2|%>
      
      <% if @x > @y %>
        <td class="info" title="Pair">
        <%= link_to history_path(:members => "{#{m2.id}, #{m1.id}}") do %>
        <%= @pairs.where(members: "{#{m1.id}, #{m2.id}}").count + @pairs.where(members: "{#{m2.id}, #{m1.id}}").count%>
      <%end%>
    </td>
      <%elsif @x == @y %>
        <td class="danger" title="Solo">
        <%= link_to history_path(:members => "{#{m2.id}, #{m1.id}}") do %>
          <%=@pairs.where(members: "{#{m1.id}, #{m2.id}}").count %>
        <%end%>
      </td>
    <%else%>
      <td class="active"></td>
      <%end%>
      
      <% @y = @y+1%>
  <% end %>
</tr>
<%@x = @x+1%>
<% end %>
  </tbody>
</table>

<p>
<table class="table">
  <tr>
    <td class="info" title="coba"></td>
    <td >Pair</td>
  </tr>
  <tr>
    <td class="danger"></td>
    <td>Solo</td>
  </tr>
</table>

</p>
